<div class="dz_dialog_box ">
    <div class="dz_dialog1">
        <div class="dz_dialog1_left_box">
            <div class="dz_circle"></div>
            <div class="dz_line1"></div>
            <div class="dz_line2"></div>
            <div class="dz_line3"></div>
        </div>
        <div class="dz_dialog1_right_box">
            <div class="dz_circle"></div>
            <div class="dz_line1"></div>
            <div class="dz_line2"></div>
            <div class="dz_line3"></div>
        </div>
    </div>
    <div class="dz_dialog1 dz_dialog_bottom">
        <div class="dz_dialog1_left_box">
            <div class="dz_circle"></div>
            <div class="dz_line1"></div>
            <div class="dz_line2"></div>
            <div class="dz_line3"></div>
        </div>
        <div class="dz_dialog1_right_box">
            <div class="dz_circle"></div>
            <div class="dz_line1"></div>
            <div class="dz_line2"></div>
            <div class="dz_line3"></div>
        </div>
    </div>
    <div class="dz_dialog_left_box"></div>
    <div class="dz_dialog_right_box"></div>
    <div class="dz_dialog_left">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="dz_dialog_right">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="pop_box">
    <!--建设公园广场-->
    <div class="hide" id="popBuildPark" style="display: none;">
        <h1 class="chinese">建设公园广场</h1>
        <div class="pop_content">
            <div class="introduce_text_box">
                <div class="project_list a1">
                    <div class="text_box">
                        <p class="perject_name">
                            金海湾公园嘉陵江故事区项目
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">13231.64（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">公园绿化</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2017-11-10</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2018-12-02</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>总用地面积765亩</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/17-1_jhw_park.jpg" alt="">
                    </div>
                </div>
                <div class="project_list a2">
                    <div class="text_box">
                        <p class="perject_name">
                            <span></span>金海湾公园滨水活动体验区项目
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">13528.58（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">公园绿化</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2017-12-01</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2018-12-31</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>总用地面积765亩</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/17-2_jhw_park.jpg" alt="">
                    </div>
                </div>
                <div class="project_list a3">
                    <div class="text_box">
                        <p class="perject_name">
                            <span></span>金州公园
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">21043.34（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">公园绿化</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2018-05-01</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2019-12-02</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>总用地面积765亩</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/16-3_cyh_park.jpg" alt="">
                    </div>
                </div>
                <div class="project_list a4">
                    <div class="text_box">
                        <p class="perject_name">
                            <span></span>火车北站北广场交通环境优化整改
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">8400.00（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">公园绿化</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2019-08-01</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2020-08-30</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>待定</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/9-2train_beistation.jpg" alt="">
                    </div>
                </div>

                <div class="project_list a1">
                    <div class="text_box">
                        <p class="perject_name">
                            金海湾公园嘉陵江故事区项目
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">13231.64（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">公园绿化</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2017-11-10</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2018-12-02</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>总用地面积765亩</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/17-1_jhw_park.jpg" alt="">
                    </div>
                </div>
                <div class="project_list a2">
                    <div class="text_box">
                        <p class="perject_name">
                            <span></span>金海湾公园滨水活动体验区项目
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">13528.58（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">公园绿化</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2017-12-01</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2018-12-31</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>总用地面积765亩</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/17-2_jhw_park.jpg" alt="">
                    </div>
                </div>
            </div>
            <!--<div class="introduce_logo_box">
                <iframe src="static/pick/index.html" frameborder="0"></iframe>
            </div>-->
        </div>
    </div>

    <!--铺设水电通信管网-->
    <div class="hide" id="popBuildNetwork" style="display: none;">
        <h1 class="chinese">铺设水电通信管网</h1>
        <div class="pop_content">
            <div class="introduce_text_box">
                <div class="project_list a1">
                    <div class="text_box">
                        <p class="perject_name">
                            礼嘉土主庙停车场建设工程
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">8427.00（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">排水及能源管线工程</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2019-01-01</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2019-12-01</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>总建筑面积19500㎡,其中地上13000㎡，地下面积6500㎡，含约300个车位的停车楼</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/9-2train_beistation.jpg" alt="">
                    </div>
                </div>
                <div class="project_list a2">
                    <div class="text_box">
                        <p class="perject_name">
                            <span></span>华侨城110KV电缆隧道工程
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">16692.00（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">排水及能源管线工程</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2018-10-01</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2019-12-15</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>包括华侨城4回110kv电缆隧道，总长2500m</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/16-3_cyh_park.jpg" alt="">
                    </div>
                </div>
                <div class="project_list a3">
                    <div class="text_box">
                        <p class="perject_name">
                            <span></span>白云路110KV电缆隧道工程
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">16200.00（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">排水及能源管线工程</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2019-01-01</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2020-01-01</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>白云路段110KV电缆隧道约3.83公里，起点为金通大道，终点为礼白大道。</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/17-1_jhw_park.jpg" alt="">
                    </div>
                </div>
                <div class="project_list a4">
                    <div class="text_box">
                        <p class="perject_name">
                            <span></span>礼白大道220KV/110KV同沟电缆隧道工程
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">9567.00（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">排水及能源管线工程</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2019-01-01</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2020-05-12</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>1、起点为肖家院1900m；2、起点为礼嘉220KV变电站出线长约510m</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/17-2_jhw_park.jpg" alt="">
                    </div>
                </div>

                <div class="project_list a1">
                    <div class="text_box">
                        <p class="perject_name">
                            礼嘉土主庙停车场建设工程
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">8427.00（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">排水及能源管线工程</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2019-01-01</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2019-12-01</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>总建筑面积19500㎡,其中地上13000㎡，地下面积6500㎡，含约300个车位的停车楼</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/9-2train_beistation.jpg" alt="">
                    </div>
                </div>
                <div class="project_list a2">
                    <div class="text_box">
                        <p class="perject_name">
                            <span></span>华侨城110KV电缆隧道工程
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">16692.00（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">排水及能源管线工程</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2018-10-01</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2019-12-15</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>包括华侨城4回110kv电缆隧道，总长2500m</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/16-3_cyh_park.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--集团累计建设房屋-->
    <div class="hide" id="popBuildBuilding" style="display: none;">
        <h1 class="chinese">集团累计建设房屋</h1>
        <div class="pop_content">
            <div class="introduce_text_box">
                <div class="project_list a1">
                    <div class="text_box">
                        <p class="perject_name">
                            金泰创时代项目（一期）
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">95924.00（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">产业楼宇（产业园）</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2015-10-01</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2020-12-15</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>总规模23.1万㎡；一期规模4.1万㎡（一期装修面积约4500㎡）；二期规模约19万㎡</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/21_fanwu.jpg" alt="">
                    </div>
                </div>
                <div class="project_list a2">
                    <div class="text_box">
                        <p class="perject_name">
                            <span></span>金泰产业园项目（一期）
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">95000.00（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">产业楼宇（产业园）</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2013-06-01</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2019-06-15</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>总规模27.5万㎡，分期建设一期约16.5万㎡,二期约11万㎡</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/22_fanwu.jpg" alt="">
                    </div>
                </div>
                <div class="project_list a3">
                    <div class="text_box">
                        <p class="perject_name">
                            <span></span>金泰产业园项目（二期）
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">95000.00（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">产业楼宇（产业园）</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2017-05-12</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2019-12-10</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>总规模27.5万㎡，分期建设一期约16.5万㎡,二期约11万㎡</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/23_fanwu.jpg" alt="">
                    </div>
                </div>
                <div class="project_list a4">
                    <div class="text_box">
                        <p class="perject_name">
                            <span></span>高科江澜二期（一组团）
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">150000.00（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">产业楼宇（产业园）</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2017-12-01</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2018-12-31</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>约250000㎡</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/24_fanwu.jpg" alt="">
                    </div>
                </div>

                <div class="project_list a1">
                    <div class="text_box">
                        <p class="perject_name">
                            金泰创时代项目（一期）
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">95924.00（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">产业楼宇（产业园）</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2015-10-01</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2020-12-15</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>总规模23.1万㎡；一期规模4.1万㎡（一期装修面积约4500㎡）；二期规模约19万㎡</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/21_fanwu.jpg" alt="">
                    </div>
                </div>
                <div class="project_list a2">
                    <div class="text_box">
                        <p class="perject_name">
                            <span></span>金泰产业园项目（一期）
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">95000.00（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">产业楼宇（产业园）</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2013-06-01</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2019-06-15</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>总规模27.5万㎡，分期建设一期约16.5万㎡,二期约11万㎡</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/22_fanwu.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--修筑道路-->
    <div class="hide" id="popBuildRoad" style="display: none;">
        <h1 class="chinese">修筑道路</h1>
        <div class="pop_content">
            <div class="introduce_text_box">
                <div class="project_list a1">
                    <div class="text_box">
                        <p class="perject_name">
                            白云湖公园配套道路工程
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">2900.00（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">道路及配套工程</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2019-01-01</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2019-12-01</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>道路全长约730米（其中市政道路长约200米，公园道路长约530米）</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/9-2train_beistation.jpg" alt="">
                    </div>
                </div>
                <div class="project_list a2">
                    <div class="text_box">
                        <p class="perject_name">
                            <span></span>黄环北路改扩建道路及配套工程
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">2588.00（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">道路及配套工程</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2018-08-01</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2019-06-15</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>长380米，宽34米道路及配套工程</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/16-3_cyh_park.jpg" alt="">
                    </div>
                </div>
                <div class="project_list a3">
                    <div class="text_box">
                        <p class="perject_name">
                            <span></span>礼嘉商务区L72
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">2053.00（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">道路及配套工程</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2017-05-01</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2019-03-15</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>495m*16m</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/17-1_jhw_park.jpg" alt="">
                    </div>
                </div>
                <div class="project_list a4">
                    <div class="text_box">
                        <p class="perject_name">
                            <span></span>高义口东路延伸段道路及配套工程
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">11919.00（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">道路及配套工程</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2018-09-01</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2020-02-15</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>1130m*34m</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/17-2_jhw_park.jpg" alt="">
                    </div>
                </div>

                <div class="project_list a1">
                    <div class="text_box">
                        <p class="perject_name">
                            白云湖公园配套道路工程
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">2900.00（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">道路及配套工程</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2019-01-01</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2019-12-01</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>道路全长约730米（其中市政道路长约200米，公园道路长约530米）</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/9-2train_beistation.jpg" alt="">
                    </div>
                </div>
                <div class="project_list a2">
                    <div class="text_box">
                        <p class="perject_name">
                            <span></span>黄环北路改扩建道路及配套工程
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">2588.00（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">道路及配套工程</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2018-08-01</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2019-06-15</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>长380米，宽34米道路及配套工程</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/16-3_cyh_park.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--立交及节点改造-->
    <div class="hide" id="popBuildBridge" style="display: none;">
        <h1 class="chinese">立交及节点改造</h1>
        <div class="pop_content">
            <div class="introduce_text_box">
                <div class="project_list a1">
                    <div class="text_box">
                        <p class="perject_name">
                            金州大道与星光大道延伸段节点改造工程（含星光大道北延线）
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">150555.74（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">立交及节点改造</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2019-03-05</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2022-03-30</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>星光大道主线左线长1821.873m，其中隧道长1296m；主线右线长1835.643m，其中隧道长856m。</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/bridge_1.jpg" alt="">
                    </div>
                </div>
                <div class="project_list a2">
                    <div class="text_box">
                        <p class="perject_name">
                            <span></span>金开大道与金通大道节点改造工程
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">15000.00（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">立交及节点改造</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2020-12-24</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2022-12-24</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>金开大道与金通大道交叉口处，拟建下穿道一座，长约480米。</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/bridge_2.jpg" alt="">
                    </div>
                </div>
                <div class="project_list a3">
                    <div class="text_box">
                        <p class="perject_name">
                            <span></span>金渝大道与龙健路节点工程
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">14968.90（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">立交及节点改造</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2018-03-12</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2020-06-16</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>立交改造范围内主线金渝大道全长720m，其中下穿通道闭口段长153m、U型槽段长561m，路幅26m</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/bridge_3.jpg" alt="">
                    </div>
                </div>
                <div class="project_list a4">
                    <div class="text_box">
                        <p class="perject_name">
                            <span></span>龙塘立交
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">15000.00（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">立交及节点改造</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2015-05-20</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2017-09-08</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>跨线一座，东西长约780米，道路宽约43米，南北长约650米，道路宽约44米，8条匝道，匝道宽7米。</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/bridge_4.jpg" alt="">
                    </div>
                </div>

                <div class="project_list a1">
                    <div class="text_box">
                        <p class="perject_name">
                            金州大道与星光大道延伸段节点改造工程（含星光大道北延线）
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">150555.74（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">立交及节点改造</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2019-03-05</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2022-03-30</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>星光大道主线左线长1821.873m，其中隧道长1296m；主线右线长1835.643m，其中隧道长856m。</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/bridge_1.jpg" alt="">
                    </div>
                </div>
                <div class="project_list a2">
                    <div class="text_box">
                        <p class="perject_name">
                            <span></span>金开大道与金通大道节点改造工程
                        </p>
                        <ul class="perject_related">
                            <li class="">
                                <span class="txt_title">投资金额：</span>
                                <span class="txt_val">15000.00（万元）</span>
                            </li>
                            <li>
                                <span class="txt_title">项目类型：</span>
                                <span class="txt_val">立交及节点改造</span>
                            </li>
                            <li class="">
                                <span class="txt_title">开工时间：</span>
                                <span class="txt_val">2020-12-24</span>
                            </li>
                            <li>
                                <span class="txt_title">完工时间：</span>
                                <span class="txt_val">2022-12-24</span>
                            </li>
                        </ul>
                        <div class="project_situation">
                            <span>项目概况：</span>
                            <p>金开大道与金通大道交叉口处，拟建下穿道一座，长约480米。</p>
                        </div>
                    </div>
                    <div class="pic_box">
                        <img src="static/imgs/bridge_2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--工程数智化-->
    <div class="" id="stateOwned" style="display: none;">
        <h1 class="chinese">工程数智化</h1>
        <div class="pop_content">
            <div class="">
                <div class="banner">
                    <ul>
                        <li><img src="static/imgs/Digitization1.png"></li>
                        <li><img src="static/imgs/Digitization2.png"></li>
                        <li><img src="static/imgs/Digitization3.png"></li>
                        <li><img src="static/imgs/Digitization4.png"></li>
                        <li><img src="static/imgs/Digitization5.png"></li>
                        <li><img src="static/imgs/Digitization6.png"></li>
                        <li><img src="static/imgs/Digitization7.png"></li>
                        <li><img src="static/imgs/Digitization8.png"></li>
                        <li><img src="static/imgs/Digitization9.png"></li>
                        <li><img src="static/imgs/Digitization9.png"></li>
                    </ul>
                </div>
                <!--<div class="jumpBtn">-->
                    <!--<ul>-->
                        <!--<li jumpImg="0"></li>-->
                        <!--<li jumpImg="1"></li>-->
                    <!--</ul>-->
                <!--</div>-->
            </div>
        </div>
    </div>

    <!--工程管理经验-->
    <div class="" id="popDevelopHistory" style="display: none;">
        <h1 class="chinese">工程管理经验</h1>
        <div class="pop_content">
                <p>
                    重庆渝高科技产业（集团）股份有限公司（简称“渝高集团”），成立于1992年，是两江新区管委会所属的国有控股股份制企业。截止2018年底，公司资产总额约85.49亿元，持有经营性不动产物业近80万㎡；公司当前的主营业务为住宅及产业地产开发、资本及资产运营、工程管理咨询、现代服务业和新兴产业投资；公司通过了ISO9001质量管理体系认证，具有国家一级房地产开发企业资质。2017年11月，中央文明委授予公司“全国文明单位”称号。
                </p>
                <p>
                    公司法人治理结构完善，股东会、董事会、监事会、经理层齐备，党、团、工会组织健全。公司下设7个职能部门、2个分公司，1个全资子公司，1个控股子公司，公司集聚了一大批经营管理和工程技术人才，现有员工300多人，大多数具有本科以上学历和专业技术职称。同时，公司对重庆银行股份有限公司、重庆龙禹渝高石油有限公司、重庆庆铃铸铝有限公司等11家企业投资参股。
                </p>
                <p>
                    公司自成立20多年来，作为政府直属的建设主力军和城市运营商，主要从事高新区、原北部新区和两江新区的开发，先后主导了石桥铺高新园、二郎科技新城共8平方公里的土地一级开发和基础设施建设，完成了高新区、北部新区、两江新区大量的市政配套建设、楼宇建设。累计建设房屋约620万㎡，修筑道路约160公里，平整土地约10000亩，建设公园广场13个、立交桥8座，铺设水电通信管网约170公里，累计完成投资总额约314亿元。建成了渝高广场、渝高香洲、重庆留学生创业园、彩云湖城市湿地公园、两江幸福广场、火车北站综合交通枢纽、市财政大楼、格力重庆珠海合肥基地、重庆银行大厦、互联网学院、重庆第一双语学校、白云山公园等一大批优质精品工程多次获得“全国建筑工程装饰奖”、“全国广厦奖”、“巴渝杯奖”、“市政工程金杯奖”“三峡杯优质结构奖”、“詹天佑规划设计奖”等荣誉。</p>
        </div>
    </div>

    <!--累计投资总额-->
    <div class="" id="popTotalInvest" style="display: none;">
        <h1 class="chinese">累计投资总额</h1>
        <div class="pop_content">
            <ul class="department_lists">
                <li>
                    <p class="department_title">装饰景观部</p>
                    <p>
                        <span>项目数：</span>
                        <span>56</span>
                    </p>
                    <p>
                        <span>本年完成投资：</span>
                        <span>15135(万元)</span>
                    </p>
                    <p>
                        <span>总投资：</span>
                        <span>294383.5(万元)</span>
                    </p>
                </li>
                <li>
                    <p class="department_title">房产分公司</p>
                    <p>
                        <span>项目数：</span>
                        <span>4</span>
                    </p>
                    <p>
                        <span>本年完成投资：</span>
                        <span>15135(万元)</span>
                    </p>
                    <p>
                        <span>总投资：</span>
                        <span>177900(万元)</span>
                    </p>
                </li>
                <li>
                    <p class="department_title">房建一部</p>
                    <p>
                        <span>项目数：</span>
                        <span>56</span>
                    </p>
                    <p>
                        <span>本年完成投资：</span>
                        <span>15135(万元)</span>
                    </p>
                    <p>
                        <span>总投资：</span>
                        <span>294383.5(万元)</span>
                    </p>
                </li>

                <li>
                    <p class="department_title">公用工程部</p>
                    <p>
                        <span>项目数：</span>
                        <span>3</span>
                    </p>
                    <p>
                        <span>本年完成投资：</span>
                        <span>171512(万元)</span>
                    </p>
                    <p>
                        <span>总投资：</span>
                        <span>1655661.84(万元)</span>
                    </p>
                </li>
                <li>
                    <p class="department_title">市政工程管理部</p>
                    <p>
                        <span>项目数：</span>
                        <span>120</span>
                    </p>
                    <p>
                        <span>本年完成投资：</span>
                        <span>90808(万元)</span>
                    </p>
                    <p>
                        <span>总投资：</span>
                        <span>1724350.26(万元)</span>
                    </p>
                </li>
                <li>
                    <p class="department_title">房建二部</p>
                    <p>
                        <span>项目数：</span>
                        <span>77</span>
                    </p>
                    <p>
                        <span>本年完成投资：</span>
                        <span>66004.52(万元)</span>
                    </p>
                    <p>
                        <span>总投资：</span>
                        <span>2746528.4(万元)</span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
