<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>企业文化中心</title>
</head>
<body>
<div class="" id="corporateCultureCenter">
    <!--//左侧部分-->
    <div class="left_content_box">
        <!--渝高简介-->
        <div class="yugao_intro_box">
            <p class="left_title">
                <span class="title_icop"></span>
                <span>渝高简介</span>
            </p>

            <div class="intro_text_box">
                <span class="split_line split_line_top">
                    <i class="line_light"></i>
                </span>
                <p>
                    重庆渝高科技产业（集团）股份有限公司成立于1992年，曾先后隶属于高新区、原北部新区、现为两江新区管委会所属、两江产业集团控股的国有股份制企业。公司的主营业务为工程管理咨询、地产开发、资产运营、现代服务业。当前公司践行科技强企的改革创新发展之路，以大数据智能化引领工程数智化发展。以开放和包容的合作理念，联合致力于工程数智化生态圈发展的合作伙伴，推动工程建设管理信息化、工程建造过程智能化、工程建设成果智慧化，逐步打造咨询、规划、设计、建设、管理、运营一体化全产业链的行业标杆。</p>
                <span class="split_line split_line_bottom">
                    <i class="line_light"></i>
                </span>
            </div>
        </div>

        <!--主营业务-->
        <div class="business_box">
            <p class="left_title">
                <span class="title_icop">
                </span>
                <span>主营业务</span>
            </p>

            <div class="business_table_box">
                <span class="split_line split_line_top">
                    <i class="line_light"></i>
                </span>
                <ul class="li-items">
                    <li>
                        <p>新兴产业投资</p>
                        <p>Investment in Emerging Industries</p>
                    </li>
                    <li>
                        <p>工程管理咨询</p>
                        <p>Engineering Management Consulting</p>
                    </li>
                    <li>
                        <p>地产开发</p>
                        <p>Housing and Industrial Real Estate Development</p>
                    </li>
                    <li>
                        <p>资产运营</p>
                        <p>Capital and Asset Operation</p>
                    </li>
                    <li>
                        <p>现代服务业</p>
                        <p>Modern Service Industry</p>
                    </li>
                </ul>
                <span class="split_line split_line_bottom">
                    <i class="line_light"></i>
                </span>
            </div>
        </div>

        <!--新闻动态-->
        <div class="news_box">
            <p class="left_title">
                <span class="title_icop">
                </span>
                <span>新闻动态</span>
            </p>

            <div class="news_pic_box">
                <span class="split_line split_line_top">
                    <i class="line_light"></i>
                </span>
                <div class="pikachoose">
                    <ul id="pikame" class="jcarousel-skin-pika">
                        <li>
                            <img src="static/imgs/wenhua_1.jpg" alt="展示图片">
                            <span>渝高公司扎实推进城口县高燕镇红军村脱贫攻坚帮扶工作</span>
                        </li>
                        <li>
                            <img  src="${require('../img/a2.jpg')}" alt="展示图片">
                            <span>中国科学院大学重庆学院开工建设</span>
                        </li>
                        <li>
                            <img  src="${require('../img/a3.jpg')}" alt="展示图片">
                            <span>渝高牵手华为！工程数智化合作助力集团转型升级</span>
                        </li>
                        <li>
                            <img  src="${require('../img/a4.jpg')}" alt="展示图片">
                            <span>陡溪立交改造项目北侧工程通车！主体工程10月完工</span>
                        </li>
                        <li>
                            <img  src="static/imgs/wenhua_2.jpg" alt="展示图片">
                            <span>好消息！6所中小学建设完工，计划今年9月投用</span>
                        </li>
                        <li>
                            <img  src="static/imgs/wenhua_3.jpg" alt="展示图片">
                            <span>主要经济指标实现“双过半”！渝高集团上半年工作呈现六大亮点</span>
                        </li>
                        <!--<li>
                            <img src="http://www.yugao.com.cn/Uploads/Picture/2019-07-08/5d23021541c6c.jpg" alt="展示图片">
                            <span>渝高集团召开2018年股东大会</span>
                        </li> -->                   </ul>
                </div>
                <span class="split_line split_line_bottom">
                    <!--<i class="line_light"></i>-->
                </span>
            </div>
        </div>
    </div>


    <!--中间内容区-->
    <div class="center_content_box">
        <div class="center_content_container">
            <!--发展历程-->
            <div class="" id="developmentHistory">
                <div class="single_base_box">
                    <div class="memorial_day_box">
                        <p class="memorial_day">1992年4月15日成立</p>
                    </div>
                    <div class="memorial_event_box">
                        <p>公司初名为</p>
                        <p>重庆高新技术产业开发区建设发展总公司</p>
                    </div>
                </div>
                <p class="down_arrows_box">
                    <img src="<%= require('../img/yg_culture_downarrow.png')%>" alt="">
                </p>

                <div class="single_base_box">
                    <div class="memorial_day_box">
                        <p class="memorial_day">1993年4月23日</p>
                    </div>
                    <div class="memorial_event_box">
                        <p>公司更名为</p>
                        <p>重庆高新技术产业开发区建设股份有限公司</p>
                    </div>
                </div>
                <p class="down_arrows_box">
                    <img src="<%= require('../img/yg_culture_downarrow.png')%>" alt="">
                </p>
                <div class="single_base_box">
                    <div class="memorial_day_box">
                        <p class="memorial_day">1993年9月28日</p>
                    </div>
                    <div class="memorial_event_box">
                        <p>公司更名为</p>
                        <p>重庆渝高产业股份有限公司</p>
                    </div>
                </div>
                <p class="down_arrows_box">
                    <img src="<%= require('../img/yg_culture_downarrow.png')%>" alt="">
                </p>
                <div class="single_base_box">
                    <div class="memorial_day_box">
                        <p class="memorial_day">1998年12月30日至今</p>
                    </div>
                    <div class="memorial_event_box">
                        <p>公司更名为</p>
                        <p>重庆渝高产业科技（集团）股份有限公司</p>
                    </div>
                </div>
            </div>
            <!--企业印记-->
            <div class="enterprise_mark_box" id="EnterpriseMark">
                <ul class="enterprise_mark_lists">
                    <li class="enterprise_mark_list">
                        <p>集团累计建设</p>
                        <p>房屋 <i>1000 </i> 万m²</p>
                    </li>
                    <li class="enterprise_mark_list">
                        <p>工程管理</p>
                        <p>经验 <i>27 </i> 年</p>
                    </li>
                    <li class="enterprise_mark_list">
                        <p>建设学校</p>
                        <p><i>61 </i> 所</p>
                    </li>
                    <li class="enterprise_mark_list">
                        <p>建设公园广场</p>
                        <p><i>25 </i> 个</p>
                    </li>
                    <li class="enterprise_mark_list">
                        <p>累计完成投资</p>
                        <p>总额 <i>500 </i> 亿元</p>
                    </li>
                    <li class="enterprise_mark_list">
                        <p>累计完成工程</p>
                        <p><i>520 </i> 个</p>
                    </li>
                    <li class="enterprise_mark_list">
                        <p>立交桥</p>
                        <p><i>15 </i> 座</p>
                    </li>
                </ul>
            </div>
          <!--  精品工程-->
            <div class="excellent_project_box" id="excellentProject">
                <ul class="excellent_project_lists">
                    <li class="excellent_project_list" id="marks_jp_1">
                        <div class="radius_box">
                            <img src="${require('../img/b1.jpg')}" alt="">
                            <p class="excellent_project_name">渝高-西岭国际</p>
                        </div>
                    </li>
                    <li class="excellent_project_list" id="marks_jp_2">
                        <div class="radius_box">
                            <img src="${require('../img/b2.jpg')}" alt="">
                            <p class="excellent_project_name">渝高-火炬大厦</p>
                        </div>
                    </li>
                    <li class="excellent_project_list" id="marks_jp_3">
                        <div class="radius_box">
                            <img src="${require('../img/b3.jpg')}" alt="">
                            <p class="excellent_project_name">渝高-深蓝</p>
                        </div>
                    </li>
                    <li class="excellent_project_list" id="marks_jp_4">
                        <div class="radius_box">
                            <img src="${require('../img/b4.jpg')}" alt="">
                            <p class="excellent_project_name">渝高-幸福九里</p>
                        </div>
                    </li>
                </ul>
            </div>
          <!--  渝高荣誉 -->
            <div class="yugao_honor_box" id="yugaoHonor">
                <div class="img_div">
                    <div id="featured-area2">
                        <ul class="excellent_project_lists">
                            <li>
                                <img src="${require('../img/yh1.png')}" alt="">
                                <div>
                                    首届房产开发企业50强
                                    <b class="dz_fea_left_bottom"></b>
                                    <b class="dz_fea_right_bottom"></b>
                                </div>
                                <b class="dz_fea_left_top"></b>
                                <b class="dz_fea_right_top"></b>
                            </li>
                            <li>
                                <img src="${require('../img/yh2.png')}" alt="">
                                <div>
                                    2004年度优秀企业
                                    <b class="dz_fea_left_bottom"></b>
                                    <b class="dz_fea_right_bottom"></b>
                                </div>
                                <b class="dz_fea_left_top"></b>
                                <b class="dz_fea_right_top"></b>
                            </li>
                            <li>
                                <img src="${require('../img/yh3.png')}" alt="">
                                <div>
                                    2007年度先进单位
                                    <b class="dz_fea_left_bottom"></b>
                                    <b class="dz_fea_right_bottom"></b>
                                </div>
                                <b class="dz_fea_left_top"></b>
                                <b class="dz_fea_right_top"></b>
                            </li>
                            <li>
                                <img src="${require('../img/yh4.png')}" alt="">
                                <div>
                                    第七届房产开发企业50强
                                    <b class="dz_fea_left_bottom"></b>
                                    <b class="dz_fea_right_bottom"></b>
                                </div>
                                <b class="dz_fea_left_top"></b>
                                <b class="dz_fea_right_top"></b>
                            </li>
                            <li>
                                <img src="${require('../img/yh5.png')}" alt="">
                                <div>
                                    金杯奖
                                    <b class="dz_fea_left_bottom"></b>
                                    <b class="dz_fea_right_bottom"></b>
                                </div>
                                <b class="dz_fea_left_top"></b>
                                <b class="dz_fea_right_top"></b>
                            </li>
                            <li>
                                <img src="${require('../img/yh6.png')}" alt="">
                                <div>
                                    金奖
                                    <b class="dz_fea_left_bottom"></b>
                                    <b class="dz_fea_right_bottom"></b>
                                </div>
                                <b class="dz_fea_left_top"></b>
                                <b class="dz_fea_right_top"></b>
                            </li>
                            <li>
                                <img src="${require('../img/yh7.png')}" alt="">
                                <div>
                                    金奖
                                    <b class="dz_fea_left_bottom"></b>
                                    <b class="dz_fea_right_bottom"></b>
                                </div>
                                <b class="dz_fea_left_top"></b>
                                <b class="dz_fea_right_top"></b>
                            </li>
                            <li>
                                <img src="${require('../img/yh8.png')}" alt="">
                                <div>
                                    金奖
                                    <b class="dz_fea_left_bottom"></b>
                                    <b class="dz_fea_right_bottom"></b>
                                </div>
                                <b class="dz_fea_left_top"></b>
                                <b class="dz_fea_right_top"></b>
                            </li>
                            <li>
                                <img src="${require('../img/yh9.png')}" alt="">
                                <div>
                                    信用品牌企业
                                    <b class="dz_fea_left_bottom"></b>
                                    <b class="dz_fea_right_bottom"></b>
                                </div>
                                <b class="dz_fea_left_top"></b>
                                <b class="dz_fea_right_top"></b>
                            </li>
                            <li>
                                <img src="${require('../img/yh10.png')}" alt="">
                                <div>
                                    智慧之星
                                    <b class="dz_fea_left_bottom"></b>
                                    <b class="dz_fea_right_bottom"></b>
                                </div>
                                <b class="dz_fea_left_top"></b>
                                <b class="dz_fea_right_top"></b>
                            </li>
                            <li>
                                <img src="${require('../img/yh11.png')}" alt="">
                                <div>
                                    工人先锋号
                                    <b class="dz_fea_left_bottom"></b>
                                    <b class="dz_fea_right_bottom"></b>
                                </div>
                                <b class="dz_fea_left_top"></b>
                                <b class="dz_fea_right_top"></b>
                            </li>
                            <li>
                                <img src="${require('../img/yh12.png')}" alt="">
                                <div>
                                    先进纳税企业
                                    <b class="dz_fea_left_bottom"></b>
                                    <b class="dz_fea_right_bottom"></b>
                                </div>
                                <b class="dz_fea_left_top"></b>
                                <b class="dz_fea_right_top"></b>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="dz_chassis_box">
                    <img src="${require('../img/chassis.png')}" alt="">
                    <div class="dz_chassis1"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="right_content_box">
        <ul class="items_lis">
            <li class="item_li">
                <p class="item_text active">
                    <span class="split_line split_line_top"></span>
                    发展历程
                    <span class="split_line split_line_bottom"></span>
                </p>
            </li>
            <li class="item_li">
                <p class="item_text">
                    <span class="split_line split_line_top"></span>
                    企业印记
                    <span class="split_line split_line_bottom"></span>
                </p>
            </li>
            <li class="item_li">
                <p class="item_text">
                    <span class="split_line split_line_top"></span>
                    精品工程
                    <span class="split_line split_line_bottom"></span>
                </p>
            </li>
            <li class="item_li">
                <p class="item_text">
                    <span class="split_line split_line_top"></span>
                    渝高荣誉
                    <span class="split_line split_line_bottom"></span>
                </p>
            </li>
            <li class="item_li">
                <p class="item_text">
                    <span class="split_line split_line_top"></span>
                    企业宣传
                    <span class="split_line split_line_bottom"></span>
                </p>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
