<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>项目管理详情</title>
</head>
<body>
<div class="" id="progressManageDetail">
    <!--//左侧部分-->
    <div class="left_content_box">
        <!--//各部门项目概览-->
        <!--<div class="department_project_charts">
            <p class="left_title">
                <span class="title_icop"></span>
                <span>各部门项目概览</span>
            </p>
            <div class="display_size" >
                <i class="icon_size"></i>
                <div>
                    <p class="">展示规模</p>
                    <p class="display_size_num">122.23</p>
                </div>
            </div>
            <div class="num_items_box">
                <ul class="num_items">
                    <li class="num_item">
                        <p>投资</p>
                        <p>2.312</p>
                    </li>
                    <li class="num_item">
                        <p>进度</p>
                        <p>60%</p>
                    </li>
                    <li class="num_item">
                        <p>支付</p>
                        <p>12.356</p>
                    </li>
                    <li class="num_item">
                        <p>项目成员</p>
                        <p>298</p>
                    </li>
                </ul>
            </div>
        </div>-->

        <!--//各业务项目概览-->
       <!-- <div class="peoject_overview">
            <p class="left_title">
                <span class="title_icop"></span>
                <span>各业务项目概览</span>
            </p>
            <div class="display_size" >
                <i class="icon_size"></i>
                <div>
                    <p class="">展示规模</p>
                    <p class="display_size_num">122.23</p>
                </div>
            </div>
            <div class="chart_box chart_bar_box" id="">
                <ul class="project_overview_items">
                    <li class="project_overview_item">
                        <p class="text_describe">
                            <span>投资</span>
                            <span>15060</span>
                        </p>
                        <div class="progress_sum_bar">
                            <p class="progress_bright_bar"></p>
                        </div>
                    </li>
                    <li class="project_overview_item">
                        <p class="text_describe">
                            <span>进度</span>
                            <span>50%</span>
                        </p>
                        <div class="progress_sum_bar">
                            <p class="progress_bright_bar"></p>
                        </div>
                    </li>
                    <li class="project_overview_item">
                        <p class="text_describe">
                            <span>支付</span>
                            <span>15060</span>
                        </p>
                        <div class="progress_sum_bar">
                            <p class="progress_bright_bar"></p>
                        </div>
                    </li>
                    <li class="project_overview_item">
                        <p class="text_describe">
                            <span>项目成员</span>
                            <span>15060</span>
                        </p>
                        <div class="progress_sum_bar">
                            <p class="progress_bright_bar"></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>-->
        <!--每月安全数据-->
        <div class="monthly_safety_data">
            <div class="chart_box" id="progressManagePic" style="display: none">
                <!--<p class="pic_title">工地完成效果图</p>-->
                <p class="left_title">
                    <span class="title_icop"></span>
                    <span>项目基本信息</span>
                </p>
                <div class="shutter">
                    <div class="shutter-img" id="shutterImgBox">
                        <a href="#" data-shutter-title="Iron Man">
                            <img src="static/imgs/gongdi_1.jpg" >
                        </a>
                        <a href="#" data-shutter-title="Iron Man">
                            <img src="static/imgs/gongdi_2.jpg"  ></a>
                        <a href="#" data-shutter-title="Iron Man">
                            <img  src="static/imgs/gongdi_3.jpg"  ></a>
                        <a href="#" data-shutter-title="Iron Man">
                            <img src="static/imgs/gongdi_4.jpg" ></a>
                        <a href="#" data-shutter-title="Iron Man">
                            <img src="static/imgs/gongdi_5.jpg" ></a>
                        <a href="#" data-shutter-title="Iron Man">
                            <img src="static/imgs/gongdi_6.jpg" ></a>
                        <a href="#" data-shutter-title="Iron Man">
                            <img  src="static/imgs/gongdi_7.jpg" ></a>
                    </div>
                    <ul class="shutter-btn">
                        <li class="prev"></li>
                        <li class="next"></li>
                    </ul>
                    <div class="shutter-desc hide">
                        <p>Iron Man</p>
                    </div>
                </div>
            </div>

            <p class="left_title">
                <span class="title_icop"></span>
                <span>项目基本信息</span>
            </p>
            <div class="projInfoBox">
                <span class="txt_title">项目名称：</span><span class="txt_val">中国科学院大学重庆学院（一期）</span><br/>
                <span class="txt_title">项目性质：</span><span class="txt_val">新开工</span><br/>
                <span class="txt_title">项目业主：</span><span class="txt_val">重庆两江新区水土高新技术产业园建设投资有限公司</span><br/>
                <span class="txt_title">建设规模：</span><span class="txt_val">总建筑面积约189200㎡</span><br/>
                <span class="txt_title">总投资：</span><span class="txt_val">168304万元</span><br/>
                <span class="txt_title">计划开工时间：</span><span class="txt_val">2019.03</span><br/>
                <span class="txt_title">计划完工时间：</span><span class="txt_val">2020.08</span><br/>
            </div>
        </div>

        <!--进度管理数据-->
        <div class="progress_manage_data">

            <p class="left_title">
                <span class="title_icop"></span>
                <span>工程管网视频</span>
            </p>
            <div id="ganttBox" style="
            width: 80%;
    height: 85%;
    padding-left: 5%;
margin-top:5px">
                <!-- <video src="static/imgs/pregress.mp4" controls="controls" style="width: 100%;height: 100%;"></video>
                 --><video loop="loop" controls="controls" autoplay="autoplay" style="width: 100%;height:100%">
                    <source src="static/imgs/pregress.mp4" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>

            </div>

            <p class="left_title">
                <span class="title_icop"></span>
                <span>质量安全责任分布</span>
            </p>
            <!--<div class="chart_box" id="monthlySafetyLine" style="width: 90%;">
            </div>-->
            <div class="chart_box_pie chart_bar_box dz_tendering_box" id="" style="width: 110%;">
                <div id="tenderingPieOne" style="width: 50%;height: 100%;float: left"></div>
                <div id="tenderingPieTwo" style="width: 50%;height: 100%;float: left"></div>
            </div>

            <div class="dz_click_box">
                <div><img src="${require('../img/pd1.png')}" alt=""></div>
                <div><img src="${require('../img/pd2.png')}" alt=""></div>
            </div>
        </div>
    </div>

    <div class="right_content_box">
        <div class="statistics_box">
            <!--项目视频监控-->
            <div class="project_video_monitor">
                <p class="left_title">
                    <span class="title_icop"></span>
                    <span>项目视频监控</span>
                </p>
                <div class="videos_box">
                    <ul class="video_items">
                        <li class="video_item">
                            <video id="rtmpVideo0" class="video-js vjs-default-skin vjs-big-play-centered" muted autoplay="autoplay" style="width: 100%; height: 100%;"></video>
                        </li>
                        <li class="video_item">
                            <video id="rtmpVideo1" class="video-js vjs-default-skin vjs-big-play-centered" muted autoplay="autoplay" style="width: 100%; height: 100%;"></video>
                        </li>
                        <li class="video_item">
                            <video id="rtmpVideo2" class="video-js vjs-default-skin vjs-big-play-centered" muted autoplay="autoplay" style="width: 100%; height: 100%;"></video>
                        </li>
                        <li class="video_item">
                            <video id="rtmpVideo3" class="video-js vjs-default-skin vjs-big-play-centered" muted autoplay="autoplay" style="width: 100%; height: 100%;"></video>
                        </li>
                        <li class="video_item">
                            <video id="rtmpVideo4" class="video-js vjs-default-skin vjs-big-play-centered" muted autoplay="autoplay" style="width: 100%; height: 100%;"></video>
                        </li>
                        <li class="video_item">
                            <video id="rtmpVideo5" class="video-js vjs-default-skin vjs-big-play-centered" muted autoplay="autoplay" style="width: 100%; height: 100%;"></video>
                        </li>
                    </ul>
                </div>
            </div>

            <!--空气质量监测-->
            <div class="current_enviroment_monitor">
                <p class="left_title">
                    <span class="title_icop"></span>
                    <span>空气质量监测</span>
                </p>

                <div class="supervise_box chart_box" id="enviromentSuperviseBar">
                    <!--<ul class="supervise_items">
                        <li class="supervise_item">
                            <div class="supervise_single_msg" >
                                <i class="icon_size"></i>
                                <div>
                                    <p class="msg_number">122.23</p>
                                    <p class="">今日用水（m³）</p>
                                </div>
                            </div>
                        </li>
                        <li class="supervise_item">
                            <div class="supervise_single_msg" >
                                <i class="icon_size"></i>
                                <div>
                                    <p class="msg_number">122.23</p>
                                    <p class="">今日用电(kw.h)</p>
                                </div>
                            </div>
                        </li>
                    </ul>-->
                </div>
            </div>

            <!--//环境数据监测-->
            <div class="quality_supervise_box">
                <p class="left_title">
                    <span class="title_icop"></span>
                    <span>环境数据监测</span>
                </p>
                <div class="chart_box chart_bar_box" id="qualityBar">
                </div>
            </div>

            <!--//劳动数据概览-->
            <div class="labour_supervise_box">
                <p class="left_title">
                    <span class="title_icop"></span>
                    <span>劳动数据概览</span>
                </p>
                <div class="chart_box chart_bar_box" >
                    <div class="labour_data_pie">
                        <div id="labourDataPie"></div>
                        <img src="${require('../img/person.png')}" alt="">
                    </div>

                    <div class="person_number">
                        <div class="work_num_box">
                            <p>
                                <span class="number" id="sumRealNum">33</span>
                                <span>个</span>
                            </p>
                            <p>
                                当前工作人员
                            </p>
                        </div>
                        <div class="all_num_box">
                            <p>
                                <span class="number" id="sumTotalNum">529</span>
                                <span>个</span>
                            </p>
                            <p>
                                总工作人员
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
