
<div class="" id="progressManageDetailNew">
    <!--//左侧部分-->
    <div class="left_content_box">
        <p class="left_title">
            <span class="title_icop"></span>
            <span>项目基本信息</span>
        </p>
        <div class="projInfoBox">
            <span class="txt_title">项目名称：</span><span class="txt_val" id="mingcheng">学堂路延伸段道路及配套工程</span><br/>
            <span class="txt_title">项目性质：</span><span class="txt_val" id="xingzhi">续建</span><br/>
            <span class="txt_title">项目业主：</span><span class="txt_val" id="yezhu">两江新区土地储备整治中心</span><br/>
            <span class="txt_title">建设规模：</span><span class="txt_val" style="
            width: 470px;
    display: inline-block;
    overflow: hidden;
    vertical-align:bottom;
    text-overflow: ellipsis;
    white-space: nowrap;" id="guimo">长1017米，宽28米道路及配套工程</span><br/>
            <span class="txt_title">总投资：</span><span class="txt_val" id="touzi">14931万元</span><br/>
            <span class="txt_title">计划开工时间：</span><span class="txt_val" id="kaigong">2018.07</span><br/>
            <span class="txt_title">计划完工时间：</span><span class="txt_val" id="jungong">2020.09</span><br/>
        </div>

        <!--空气质量监测-->
        <div class="current_enviroment_monitor">
            <p class="left_title">
                <span class="title_icop"></span>
                <span>空气质量监测</span>
            </p>

            <div class="supervise_box chart_box" id="enviromentSuperviseBar2">
                <!--<ul class="supervise_items">
                    <li class="supervise_item">
                        <div class="supervise_single_msg" >
                            <i class="icon_size"></i>
                            <div>
                                <p class="msg_number">122.23</p>
                                <p class="">今日用水（m³）</p>
                            </div>
                        </div>
                    </li>
                    <li class="supervise_item">
                        <div class="supervise_single_msg" >
                            <i class="icon_size"></i>
                            <div>
                                <p class="msg_number">122.23</p>
                                <p class="">今日用电(kw.h)</p>
                            </div>
                        </div>
                    </li>
                </ul>-->
            </div>
        </div>

        <!--塔吊-->
        <div class="tower_crane_data">
            <p class="left_title">
                <span class="title_icop"></span>
                <span>设备信息管理</span>
            </p>
            <div class="chart_box" id="" >
                <div class="tadiao_bg1 tadiao" id="tadiaoOne">
                    <p class="message_data">
                        <span>塔吊高度</span>
                        <span class="height">无</span>
                    </p>
                    <p class="message_data">
                        <span>设备载重</span>
                        <span class="bearing">无</span>
                    </p>
                    <p class="message_data">
                        <span>设备倾角</span>
                        <span class="angle">无</span>
                    </p>
                    <p class="message_data">
                        <span>设备力矩</span>
                        <span class="torque">无</span>
                    </p>

                    <p class="message_data">
                        <span>设备回转</span>
                        <span class="turn">无</span>
                    </p>
                    <p class="message_data">
                        <span>操作人员ID</span>
                        <span class="operatorId">无</span>
                    </p>
                    <p class="message_data">
                        <span>设备风速</span>
                        <span class="windSpeed">无</span>
                    </p>
                    <p class="message_data">
                        <span>设备幅度</span>
                        <span class="extent">无</span>
                    </p>
                    <p class="message_data">
                        <span>设备编码</span>
                        <span class="deviceCode">无</span>
                    </p>
                    <p class="message_data">
                        <span>监测时间</span>
                        <span class="updateTime">无</span>
                    </p>
                </div>
                <div class="tadiao_bg2 hide tadiao" id="tadiaoTwo">
                    <p class="message_data">
                        <span>塔吊高度</span>
                        <span class="height">无</span>
                    </p>
                    <p class="message_data">
                        <span>设备载重</span>
                        <span class="bearing">无</span>
                    </p>
                    <p class="message_data">
                        <span>设备倾角</span>
                        <span class="angle">无</span>
                    </p>
                    <p class="message_data">
                        <span>设备力矩</span>
                        <span class="torque">无</span>
                    </p>
                    <p class="message_data">
                        <span>设备回转</span>
                        <span class="turn">无</span>
                    </p>
                    <p class="message_data">
                        <span>操作人员ID</span>
                        <span class="height">无</span>
                    </p>
                    <p class="message_data">
                        <span>设备风速</span>
                        <span class="windSpeed">无</span>
                    </p>
                    <p class="message_data">
                        <span>设备幅度</span>
                        <span class="extent">无</span>
                    </p>
                    <p class="message_data">
                        <span>设备编码</span>
                        <span class="deviceCode">无</span>
                    </p>
                    <p class="message_data">
                        <span>监测时间</span>
                        <span class="updateTime">无</span>
                    </p>
                </div>

                <div class="hoist_bg hide" >
                    <p class="message_data">
                        <span>设备编号</span>
                        <span class="serialNo">无</span>
                    </p>
                    <p class="message_data">
                        <span>设备承重</span>
                        <span class="load">无</span>
                    </p>
                    <p class="message_data">
                        <span>开始高度</span>
                        <span class="startHeight">无</span>
                    </p>
                    <p class="message_data">
                        <span>停止高度</span>
                        <span class="stopHeight">无</span>
                    </p>
                    <p class="message_data">
                        <span>运行速度</span>
                        <span class="speed">无</span>
                    </p>
                    <p class="message_data">
                        <span>运行方向</span>
                        <span class="status"></span>
                    </p>
                    <p class="message_data">
                        <span>运行载重百分比</span>
                        <span class="loadPercent">无</span>
                    </p>
                    <p class="message_data">
                        <span>驾驶员id</span>
                        <span class="operatorId">无</span>
                    </p>
                    <p class="message_data">
                        <span>驾驶员姓名</span>
                        <span class="driverName">无</span>
                    </p>
                    <p class="message_data">
                        <span>更新时间</span>
                        <span class="updateTime">无</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="right_content_box">
        <div class="statistics_box">
            <!--项目视频监控-->
            <div class="project_video_monitor">
                <p class="left_title">
                    <span class="title_icop"></span>
                    <span>项目视频监控</span>
                </p>
                <div class="videos_box">
                    <ul class="video_items">
                        <li class="video_item">
                            <video id="rtmpVideoNew0" class="video-js vjs-default-skin vjs-big-play-centered" muted autoplay="autoplay" style="width: 100%; height: 100%;"></video>
                        </li>
                        <li class="video_item">
                            <video id="rtmpVideoNew1" class="video-js vjs-default-skin vjs-big-play-centered" muted autoplay="autoplay" style="width: 100%; height: 100%;"></video>
                        </li>
                        <li class="video_item">
                            <video id="rtmpVideoNew2" class="video-js vjs-default-skin vjs-big-play-centered" muted autoplay="autoplay" style="width: 100%; height: 100%;"></video>
                        </li>
                        <li class="video_item">
                            <video id="rtmpVideoNew3" class="video-js vjs-default-skin vjs-big-play-centered" muted autoplay="autoplay" style="width: 100%; height: 100%;"></video>
                        </li>
                        <li class="video_item">
                            <video id="rtmpVideoNew4" class="video-js vjs-default-skin vjs-big-play-centered" muted autoplay="autoplay" style="width: 100%; height: 100%;"></video>
                        </li>
                        <li class="video_item">
                            <video id="rtmpVideoNew5" class="video-js vjs-default-skin vjs-big-play-centered" muted autoplay="autoplay" style="width: 100%; height: 100%;"></video>
                        </li>
                    </ul>
                </div>
            </div>

            <!--人员-->
            <div class="scene_person_data">
                <p class="left_title">
                    <span class="title_icop"></span>
                    <span>现场人员信息</span>
                </p>
                <div class="chart_box chart_bar_box dz_tendering_box" id="" >
                    <div>
                        <div class="people_lists" id="peopleLists">
                            <div class="single_person">
                                <div class="photo_box">
                                    <img src="${require('../img/park_member3.png')}" alt="">
                                </div>
                                <div class="txt_box">
                                    <p>
                                        <span>姓名：</span>
                                        <span class="person_name">暂无</span>
                                    </p>
                                    <p>
                                        <span>证件号码：</span>
                                        <span class="person_id">暂无</span>
                                    </p>
                                    <p>
                                        <span>性别：</span>
                                        <span class="person_sex">暂无</span>
                                    </p>
                                    <p>
                                        <span>年龄：</span>
                                        <span class="person_age">暂无</span>
                                    </p>
                                    <p>
                                        <span>工种：</span>
                                        <span class="person_type">暂无</span>
                                    </p>
                                    <p>
                                        <span>学历：</span>
                                        <span class="person_eduction">暂无</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_person hide">
                <div class="photo_box">
                    <img src="${require('../img/park_member3.png')}" alt="">
                </div>
                <div class="txt_box">
                    <p>
                        <span>姓名：</span>
                        <span class="person_name">暂无</span>
                    </p>
                    <p>
                        <span>证件号码：</span>
                        <span class="person_id">暂无</span>
                    </p>
                    <p>
                        <span>性别：</span>
                        <span class="person_sex">暂无</span>
                    </p>
                    <p>
                        <span>年龄：</span>
                        <span class="person_age">暂无</span>
                    </p>
                    <p>
                        <span>工种：</span>
                        <span class="person_type">暂无</span>
                    </p>
                    <p>
                        <span>学历：</span>
                        <span class="person_eduction">暂无</span>
                    </p>
                </div>
            </div>

            <!--//环境数据监测-->
            <div class="quality_supervise_box" style="display: none">
                <p class="left_title">
                    <span class="title_icop"></span>
                    <span>环境数据监测</span>
                </p>
                <div class="chart_box chart_bar_box" id="qualityBar2">
                </div>
            </div>

            <!--//劳动数据概览-->
            <div class="labour_supervise_box">
                <p class="left_title">
                    <span class="title_icop"></span>
                    <span>劳动数据概览</span>
                </p>
                <div class="chart_box chart_bar_box" style="position: relative">
                    <p class="time" id="lawuTime"></p>
                    <div class="labour_data_pie">
                        <div id="labourDataPieNew"></div>
                        <img src="${require('../img/person.png')}" alt="">
                    </div>

                    <div class="person_number">
                        <div class="work_num_box">
                            <p>
                                <span class="number" id="sumRealNumNew">33</span>
                                <span>个</span>
                            </p>
                            <p>
                                当前工作人员
                            </p>
                        </div>
                        <div class="all_num_box">
                            <p>
                                <span class="number" id="sumTotalNumNew">529</span>
                                <span>个</span>
                            </p>
                            <p>
                                总工作人员
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!--进度管理数据-->
            <div class="progress_manage_data">
                <div class="dz_click_box">
                    <div><img src="${require('../img/pd1.png')}" alt=""></div>
                    <div><img src="${require('../img/pd2.png')}" alt=""></div>
                </div>
            </div>
            <!--
            <div class="scene_person_data">
                <p class="left_title">
                    <span class="title_icop"></span>
                    <span>人员出勤</span>
                </p>
                <div class="chart_box chart_bar_box dz_tendering_box" id="" >
                    <div>
                        <div class="people_lists" id="workerLists">
                            <div class="single_worker">
                                <div class="labour_data_pie">
                                    <div id="labourDataPie"></div>
                                    <img src="${require('../img/person.png')}" alt="">
                                </div>
                                <div class="txt_box">
                                    <p>
                                        <span>总人数：</span>
                                        <span class="person_name" id="totalNum">暂无</span>
                                    </p>
                                    <p>
                                        <span>今日出勤人数：</span>
                                        <span class="person_type" id="workNum">暂无</span>
                                    </p>
                                    <p>
                                        <span>今日进出场人次：</span>
                                        <span class="person_time" id="inOutNum">暂无</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
         <!--   <div class="single_worker hide">
                <div class="photo_box">
                    <img src="${require('../img/park_member3.png')}" alt="">
                </div>
                <div class="txt_box">
                    <p>
                        <span>总人数：</span>
                        <span class="person_name" id="totalNum">暂无</span>
                    </p>
                    <p>
                        <span>出勤人数：</span>
                        <span class="person_type" id="workNum">暂无</span>
                    </p>
                    <p>
                        <span>进出场人数：</span>
                        <span class="person_time" id="inOutNum">暂无</span>
                    </p>
                </div>
            </div>-->
        </div>
    </div>
</div>
