
<div class="header_top" id="headerTop">
    <div class="dz_header_left">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="dz_header_right">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="dz_header_left_box"></div>
    <div class="dz_header_right_box"></div>
    <div class="dz_header_right"></div>
    <!--<img src="${require('../../img/title.png')}" alt="">-->
    <ul class="banner_box">
        <!--<% for(var key in data.list){%>
        <% if(data.index==key){%>
        <li class="navbar_nav active"><a href="<%=data.list[key].url%>"><%=data.list[key].name%></a></li>
        <%}%>
        <% if(data.index!=key){%>
        <li class="navbar_nav"><%=data.list[key].name%></li>
        <%}%>
        <%}%>-->
        <li class="logo_box" id="indexLink">

        </li>
        <li  class="navbar-nav">
            <img src="${require('../../img/navicon.png')}" alt="">
            <span>党建主题中心</span>
        </li>
        <li class="navbar-nav" data-id="culture">
            <img src="${require('../../img/navicon.png')}" alt="">
            <span>企业文化中心</span>
        </li>
        <li  class="navbar-nav active" data-id="progress">
            <img src="${require('../../img/navicon.png')}" alt="">
            <span>项目管控中心</span>
        </li>
        <!--<li  class="navbar-nav" data-id="indexculture">
            <img src="${require('../../img/navicon.png')}" alt="">
            <span>项目管控中心</span>
        </li>-->
        <li  class="navbar-nav">
            <img src="${require('../../img/naviconright.png')}" alt="">
            <span>质量安全监管中心</span>
        </li>
        <li  class="navbar-nav">
            <img src="${require('../../img/naviconright.png')}" alt="">
            <span>业务调度中心</span>
        </li>
    </ul>
    <div class="logo_box">
        <iframe src="static/logo/index.html" frameborder="0" width="100%" height="100%"></iframe>
    </div>
</div>
