input::placeholder { /* WebKit browsers */
  color: #6ecee6;
}

body{
  background:#111;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  .canvas-box{
    width: 100%;
    height: 100%;
    position: relative;
    canvas{
      display:block;
      vertical-align:bottom;
      position: absolute;
    }
  }

  .center_box_box{
    position: absolute;
    width: 30%;
    height: 90%;
    text-align: center;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    z-index: 9;
    img{
      height: 100%;
    }
  }
  .header_top{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    text-align: center;
    z-index: 99;
    img{
      width: 80%;
    }
  }
  .left_bg_box{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    /*background: url(../img/backgroundpicu02_left.png) no-repeat center;
    background-size: cover;*/
    background: url(../../static/imgs/loginBigBg.jpg) no-repeat center;
    background-size: 100% 100%;
    z-index: 9;
  }
  .right_bg_box{
    position: absolute;
    width: 20%;
    height: 70%;
    top: 10%;
    right: 0;
    background: url(../img/backgroundpicu02_right.png) no-repeat center;
    background-size: cover;
  }
  .form_box{
    position: fixed;
    bottom: 10%;
    width: 100%;
    height: 10%;
    z-index: 999;
    form{
      width: 34%;
      height: 100%;
      margin: 0 auto;
      border: 1px solid #2b7bb2;
      display: flex;
      align-items: center;
      padding: 0 1.2%;
      box-sizing: border-box;
      justify-content:space-between;
    }
  }
  .form-input{
    box-sizing: border-box;
    width: 35%;
    position: relative;
    height: 60%;
    i{
      position: absolute;
      height: 100%;
      width: 30px;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: #36b0bf;
      font-size: .08rem;
      margin-left: 10px;
    }
      input{
        height: 100%;
        width: calc(100% - 40px);
        padding-left: 40px;
        background: #093f65;
        border-radius: 5px;
        color: #fff;
        font-size: .08rem;
      }
  }
  .form-submit{
    width: 18%;
    height: 60%;
    button{
      width: 100%;
      height: 100%;
      background: #13E8E9;
      color: #fff;
      cursor: pointer;
      font-size: .08rem;
    }
  }
}

/*
html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}
*/



/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

