.footer_box{
  width: 100%;
  height: .33rem;
  position: absolute;
  bottom: -.05rem;
  text-align: center;
  z-index: 99;
  background: url("../../img/title.png") no-repeat;
  background-size: 100% 100%;
  img{
    position: fixed;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%) scale(.7);
  }
}

.footer_animate_box{
  position: absolute;
    &.left_footer_animate_box{
      bottom: 13%;
      left: 23%;
    }
    &.right_footer_animate_box{
      bottom: 15%;
      left: 70%;
      transform: rotate(180deg);
    }
  span{
    width: 10px;
    height: 10px;
    display: inline-block;
    opacity: 0;
    animation: waterfallLight 5.5s linear infinite;
    position: relative;
    &:nth-child(1){
      background: rgba(1,251,253,.2);
      animation-delay: .1s;
      /*top: .001rem;*/
    }
    &:nth-child(2){
      background: rgba(1,251,253,.25);
      animation-delay: .2s;
      /*top: .002rem;*/
    }
    &:nth-child(3){
      background: rgba(1,251,253,.3);
      animation-delay: .3s;
      /*top: .003rem;*/
    }
    &:nth-child(4){
      background: rgba(1,251,253,.35);
      animation-delay: .4s;
      /*top: .004rem;*/
    }
    &:nth-child(5){
      background: rgba(1,251,253,.4);
      animation-delay: .5s;
      /*top: .005rem;*/
    }
    &:nth-child(6){
      background: rgba(1,251,253,.45);
      animation-delay: .6s;
      /*top: .006rem;*/
    }
    &:nth-child(7){
      background: rgba(1,251,253,.5);
      animation-delay: .7s;
      /*top: .007rem;*/
    }
    &:nth-child(8){
      background: rgba(1,251,253,.55);
      animation-delay: .8s;
      /*top: .008rem;*/
    }
    &:nth-child(9){
      background: rgba(1,251,253,.6);
      animation-delay: .9s;
      /*top: .009rem;*/
    }
    &:nth-child(10){
      background: rgba(1,251,253,.65);
      animation-delay: 1s;
      /*top: .01rem;*/
    }
    &:nth-child(11){
      background: rgba(1,251,253,.7);
      animation-delay: 1.1s;
      /*top: .011rem;*/
    }
    &:nth-child(12){
      background: rgba(1,251,253,.75);
      animation-delay: 1.2s;
      /*top: .012rem;*/
    }
    &:nth-child(13){
      background: rgba(1,251,253,.8);
      animation-delay: 1.3s;
     /* top: .013rem;*/
    }
    &:nth-child(14){
      background: rgba(1,251,253,.85);
      animation-delay: 1.4s;
      /*top: .014rem;*/
    }
    &:nth-child(15){
      background: rgba(1,251,253,.9);
      animation-delay: 1.5s;
     /* top: .015rem;*/
    }
    &:nth-child(16){
      background: rgba(1,251,253,.95);
      animation-delay: 1.6s;
      /*top: .016rem;*/
    }
    &:nth-child(17){
      background: rgba(1,251,253,1);
      animation-delay: 1.7s;
     /* top: .017rem;*/
    }
  }
}


@keyframes  waterfallLight{
  0% ,81%,100%{
    opacity: 0;
  }
  5% ,80%{
    opacity: 1;
  }
}